#chooseCard{
    visibility: hidden;
}
#chooseCard2{
    visibility: hidden;
}
#credits{
    visibility: hidden;
}
#VS{
    visibility: hidden;
}
#combat{
    visibility: hidden;
}
#win{
    visibility: hidden;
}

#play{
    position: fixed;
    margin-top: 310px;
    margin-left: 360px;
    transform-origin: center center;
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
    
}

@keyframes slide{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

#credits2{
    position: fixed;
    margin-top: 10px;
    margin-left: 760px;
    transition: transform 1s;
    cursor: pointer;
    

}
#credits2:hover{
    transform: scale(1.1);
}
#fotoportada{
    position: fixed;
}

#fonsCarta{
    position: fixed;
    
    
}

#carta{
    position: fixed;
    margin-top: 330px;
    margin-left: 400px;
    animation-name: cartailu;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: transform 1s;
    cursor: pointer;
    
    

}



@keyframes cartailu{
    0%{
        background-image:  url("MEDIA/drake_sol.png");
        transform: scale(1);
    }
    100%{
         background-image: url("MEDIA/drake_sol_groc.png");
        transform: scale(1.1);
    }
}

#home{
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
   
}

#flecha{
    position: fixed;
    cursor: pointer;
    margin-left: 900px;
    margin-top: 700px;
    visibility: hidden;
}

#fight{
    position: fixed;
    cursor: pointer;
    margin-left: 730px;
    margin-top: 650px;
    animation-name: fight;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: transform 1s;
    
   
}
@keyframes fight{
    0%{
        background-image:  url("MEDIA/fight.png");
        transform: scale(1);
    }
    100%{
         background-image: url("MEDIA/fightgroc.png");
        transform: scale(1.1);
    }
}


#carta3{
    position: fixed;
    margin-top: 270px;
    margin-left: 180px;
   
}

#carta4{
    position: fixed;
    margin-top: 270px;
    margin-left: 665px;
   
}

#fonsCredits{
    position: fixed;
    
}


#candau1{
    position: fixed;
    margin-left: 210px;
    margin-top: 310px;
    
}
@keyframes candau{
    0%{
        transform: rotate(0deg);
    
    }
    25%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}

#candau1:hover{
    transform-origin: center center;
    animation-name: candau;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#candau2{
    position: fixed;
    margin-left: 695px;
    margin-top: 310px;
    
}
#candau2:hover{
    transform-origin: center center;
    animation-name: candau;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#textChoose{
    position: fixed;
    margin-left: -1000px;
    margin-top: 30px;
    animation-name: textmoures;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    
}
@keyframes textmoures{
    0%{
        margin-left: -900px;
    }
    100%{
        margin-left: 1100px;
    }
}

#fonsTrans{
    position: fixed;
        
}
#cartaAnim{
    position: absolute;
     margin-left: 80px;
    margin-top: 15px;
}

.personatgeAnimat{
    transform: scale(0);
   
}
.personatgeAnimatfinal{
    transform: scale(1);
    transition: all 3s;
   
}

#botoDrake{
    position: fixed;
    margin-left: 265px;
    margin-top: 680px;
    transform-origin: center center;
    animation-name: gran;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}
@keyframes gran{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

#marc{
    position: fixed;
    margin-left: 95px;
    margin-top: 130px;
    animation-name: nomsscale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes nomsscale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


#roger{
    position: fixed;
    margin-left: 95px;
    margin-top: 445px;
    animation-name: nomsscale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#versus{
    position: fixed;
    margin-top: 260px;
    margin-left: 350px;
}

#fonsVS{
    position: fixed;
    
}

#enemic{
    position: fixed;
    margin-top: 30px;
    margin-left: 35px;
    animation-name: enemic;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     
}

    
   

@keyframes enemic{
    0%{
        
        transform: scale(1);
    }
    100%{
         
        transform: scale(1.1);
    }
}
#drake2{
    position: fixed;
    margin-top: 310px;
    margin-left: 520px;
    animation-name: enemic;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
}
#fonsCombat{
    position: fixed;
}

#cartaCombat{
    position: fixed;
    margin-left: 720px;
    margin-top: 274px;
}

#cartaCombat2{
    position: fixed;
    margin-left: 100px;
    margin-top: 280px;
}
#vidaDrake{
    position: fixed;
    margin-left: 670px;
    margin-top: 90px;
}
#vidaDrakeMenys{
    position: fixed;
    margin-left: 670px;
    margin-top: 90px;
    visibility: hidden;
    
}
#vidaDrakeMenysmenys{
    position: fixed;
    margin-left: 670px;
    margin-top: 90px;
    visibility: hidden;
   
    
}
#vidaEnemic{
    position: fixed;
    margin-left: 47px;
    margin-top: 90px;
}
#vidaEnemicMort{
    position: fixed;
    margin-left: 47px;
    margin-top: 90px;
    visibility: hidden;
    
}

#attack{
    position: fixed;
    margin-left: 308px;
    margin-top: 240px;
    animation-name: nomsscale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#foc1{
    position: fixed;
    margin-left: 770px;
    margin-top: 300px;
    transform: rotate(90deg);
    visibility: hidden;
}
.llamarada1{
  visibility: hidden;   
}
.llamarada1final{
    animation-name: alataquefoc;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 6s;
}
@keyframes alataquefoc{
    0%{
        
        visibility: visible;
    
    }
    99%{
        margin-left: 170px;
    }
    100%{
        visibility: hidden;
    }
}

#foc2{
    position: fixed;
    margin-left: 378px;
    margin-top: 240px;
    visibility: hidden;
}

#foc3{
    position: fixed;
    margin-left: 23px;
    margin-top: 270px;
    visibility: hidden;
    
   
}

#moc1{
    position: fixed;
    margin-left: 670px;
    margin-top: 270px;
    visibility: hidden;
}

#moc2{
    position: fixed;
    margin-left: 508px;
    margin-top: 250px;
    visibility: hidden;
}

#moc3{
    position: fixed;
    margin-left: 128px;
    margin-top: 350px;
    visibility: hidden;
}
.vava1{
  visibility: hidden;   
}
.vava1final{
    animation-name: alataquevava;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes alataquevava{
    0%{
        
        visibility: visible;
    
    }
    99%{
        margin-left: 628px;
    }
    100%{
        visibility: hidden;
    }
}
.focAnimat{
    visibility: hidden;
   
}
.focAnimatfinal{
    animation-name: focani;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 9s;
   
}
@keyframes focani{
    0%{
        
        transform: scale(0);
        
    }
    3%{
        visibility: visible;
    }
    99%{
         
        transform: scale(1);
    }
    100%{
        visibility: hidden;
    }
}
.mocAnimat{
   visibility: hidden;
   
}
.mocAnimatfinal{
     animation-name: mocani;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
   
}
@keyframes mocani{
    0%{
        
        transform: scale(0);
        
    }
    3%{
        visibility: visible;
    }
    99%{
         
        transform: scale(1);
    }
    100%{
        visibility: hidden;
    }
}
.vidadudley{
   
}
.vidadudleyfinal{
    animation-name: vidaplayer1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 9s;
}

.vidadrake1{
   
}
.vidadrake1final{
    animation-name: vidaplayer1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}

#fonswin{
    position: fixed;
}
#youwin{
    position: fixed;
    margin-left: -10px;
    animation-name: youwinani;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes youwinani{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes vidaplayer1{
     0%{
      
        
    }
    
    100%{
        visibility: hidden;
    }
   
}
@keyframes vidaplayer2{
     0%{
        
        
    }
    
    100%{
        visibility: hidden;
    }
   
}
@keyframes vidaplayer2mort{
     0%{
             
    }
    
    
    100%{
        visibility: visible;
    }
   
}

@keyframes vidaplayer1mort{
     0%{
             
    }
    
    
    100%{
        visibility: visible;
    }
   
}
.vidadrake2{
   visibility: hidden;
}
.vidadrake2final{
    animation-name: vidaplayer2mort;
    animation-duration: 600s;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}
.vidadudley2{
  visibility: hidden; 
}
.vidadudley2final{
    animation-name: vidaplayer2mort;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay:11s;
    animation-fill-mode: forwards;
}
.passar{
  visibility: hidden; 
}
.passarfinal{
    animation-name: actionpassar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay:13s;
    animation-fill-mode: forwards;
}
@keyframes actionpassar{
     0%{
             
    }
    
    
    100%{
        visibility: visible;
    }
   
}
.hidenatack{
   
}
.hidenatackfinal{
    animation-name: finalatack;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
   
}
@keyframes finalatack{
     0%{
        
        
    }
    
    100%{
        visibility: hidden;
        
    }
   
}


    
    
        
